* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lumewan-header {
    padding: 5%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.lumewan-logo {
    font-family: 'Bebas Neue', cursive;
}
.lumewan-header-contenedor-menu {
    width: 70vw;
}
.lumewan-header-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.lumewan-tarjetitas {
    display: flex;
}